body{
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#homeContainer{
  width: 700px;
  height: 330px;
  margin: auto;
  margin-top: 100px;
}

.homeItem{
  width: 300px;
  height: 140px;
  padding-top: 60px;
  background-color: #F2F2F2;
  border: 1px solid #454545;
  text-align: center;
  margin: 20px;
  float: left;
}

.column{
  margin: 10px;
  padding: 10px;
  width: 520px;
  float: left;
  /* border: 1px solid #000; */
}

a.uploadFilesBtn{
  -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  box-shadow:inset 0px 1px 0px 0px #c1ed9c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
  background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
  background-color:#9dce2c;
  -webkit-border-radius:11px;
  -moz-border-radius:11px;
  border-radius:11px;
  text-indent:0;
  border:1px solid #83c41a;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:106px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #689324;
}
a.uploadFilesBtn:hover{
  color: #E8E8E8;
}

a.menuBarItem{
  font-size: 12px;
}

a.menuBarItem.disabledItem{ color: #919191; }
a.menuBarItem.disabledItem:hover{ text-decoration: none; cursor: default; }

.libraryStatus{
  color: #919191;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.column.library{
  border-right: 1px solid #000;
  padding-right: 40px;
}

#libraryContainer{
  height: 480px;
  width: 485px;
  overflow-y: hidden;
  overflow-y: scroll;
}

.largeColumn{
  margin: 10px;
  padding-left: 10px;
  width: 800px;
  border: 1px solid #000;
}

.fileThumbLibrary{
  margin-bottom: 5px;
  width: 450px;
  height: 55px;
  border-bottom: 1px solid #EDEDED;
}

.fileThumbLibrary input[type='checkbox']{
  float: left;
  margin-right: 5px;
}

.fileThumbLibrary .fileThumbLibraryImage{
  float: left;
  width: 70px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.fileThumbLibrary h5{
  float: left;
  text-align: left;
  font-size: 14px;
  margin-top: 17px;
}

.fileThumbProfileImage{
  width: 110px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.fileThumb{
  width: 110px;
  height: 120px;
  /*border: 1px solid gray;*/
  float: left;
  margin: 5px;
}

.fileThumb img{
  max-width: 108px;
  max-height: 78px;
  margin: auto;
  text-align: center;
}

#addIconContainer{
  width: 120px;
  float: left;
}

.addDirectoryIcon{
  width: 110px;
  height: 120px;
  float: left;
  position: absolute;
  margin: 5px;
}

button.addShizzleBtn{
  width: 60px;
  height: 25px;
  margin: auto;
  display: block;
  color: #FFF;
  background-color: #9dce2c;
  border: none;
}

input[type=checkbox].profileCheckBox{
  position: absolute;
  float: left;
  display: block;
  margin-top: 32px;
  margin-left: 5px;
}

.fileTitle{
  overflow: hidden;
  text-align: center;
  width: 105px;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 8px;
  padding: 2px;
  /* text-shadow: 0px 0px 4px rgba(0, 0, 0, .4); */
}

.folderOptions{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  height: auto;
  min-height: 120px;
}

#profielsBrowserContainer{
  position: relative;
  width: 492px;
  height: 360px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

#profileBrowserBackground{
  min-height: 360px;
  width: 480px;
  position:absolute;
  background-position:center;
  background-size:cover;
  /* opacity: .35; */
  border:solid 1px #000;
}

#profileBrowserFiles{
  height: 360px;
  width: 480px;
  height: auto;
  position:absolute;
  background-position:center;
  background-size:cover; 
}

.metricsTab{
  width: 180px;
  height: 40px;
  background-color: #EEEEEE;
  float: left;
  color: gray;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  margin-right: 2px;
}

a.metricsTab{
  text-decoration: none;
}

a.metricsTab:hover{
  color: #000;
}

.metricsTab.active{
  color: black;
  background-color: #DEDEDE;
}

.profileTitle{
  font-size: 20px;
  font-weight: bold;
}

tr.subUser{
  background-color: #e4e7ea;
}

tr.subUser td span{
  padding-left: 15px;
}

.select2-container{
  height: 48px;
}


.benForm-label{
  float: left;
  display: block;
  width: 90px;
  margin-top: 5px;
}

.benForm-text{
  width: 240px;
  height: 40px;
  padding: 10px;
  display: block;
  float: left;
  margin-bottom: 10px;
}

.inlineLabelError{
  margin-left: 10px;
  color: #942818;
}

.metricsObject{
  position: relative;
  width: 900px;
  height: 400px;
  margin-bottom: 40px;
}

.metricsObject .profileTitle{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

.metricsObject .settings{
  float: left;
  width: 240px;
  height: 400px;
  border-right: 1px solid #D9D9D9;
  overflow: auto;
  overflow-x: hidden;
}

.settings .checkboxItem{
  height: 30px;
}

.settings .info{
  font-style: italic;
  color: #B0B0B0;
}

.settings input[type='checkbox']{
  float: left;
}

.settings label{
  margin-left: 3px;
}

.settings .item{
  float: left;
  margin-left: 4px;
}

.settings .colorLegend{
  float: left;
  width: 14px;
  height: 14px;
}

.metricsObject .chart{
  float: left;
  width: 660px;
  height: 400px;
}

.metricsObject .divider{
  display: block;
  border: 0px none;
  background-color: #4F4F4F;
  height: 2px;
  width: 100%;
  margin-top: 20px;
}

.messageLabel{
  margin-left: 5px;
  display: block;
  float: left;
}

.messageRadio{
  float: left;
}


.messageSelect{
  margin-left: 10px;
  float: left;
}

.historyMessage{
  border-top: 1px solid #2C6A96;
  margin-bottom: 20px;
  padding: 5px;
}

.historyMessage .date{
  display: block;
  width: 100px;
  float: left;
  color: #2C6A96;
}

.historyMessage .message{
  display: block;
  float: left;
}

#tutorial{
  position: absolute;
  width: 330px;
  padding: 0px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
  border-radius: 8px;
  border: 2px solid #000;
  right: 20px;
  top: 50px;
}

#tutorial li{
  list-style: none;
}

.pieChart{
  width: 400px;
  height: 400px;
}

.contactItem{
  position: relative;
  border-top: 1px solid #2C6A96;
  margin-bottom: 20px;
  padding: 5px;
}

.contactItem .contactLeft{
  display: block;
  float: left;
  position: absolute;
}

.contactItem p{
  margin: 0px;
}

.contactItem .name{
  color: #2C6A96;
  font-size: 22px;
}

.contactItem .company{
  margin-bottom: 8px;
  font-size: 14px;
}

.contactItem .email{
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 14px;
}

.contactItem .stats{
  color: #575757;
  font-size: 12px;
}

.contactItem .detail{
  color: #000;
}

a{
  text-decoration: none;
}

.fileThumbImageFix{
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  width:110px;
  height:80px;'
}

#smallTalk{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 10px;
}