<!DOCTYPE html>
<html lang="en" ng-app="nodeFilehostApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="shortcut icon" href="images/favicon.png" type="image/png">-->

  <title>Bizzerbox</title>

  <link ng-if="!isLogin()" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
  <link ng-if="!isLogin()" href="assets/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link ng-if="!isLogin()" rel="shortcut icon" href="favicon.ico"/>
  <link ng-if="!isLogin()"href="styles/ben.css" rel="stylesheet">

  <link ng-if="isLogin()" href="css/style.default.css" rel="stylesheet">
  <link ng-if="isLogin()" href="css/jquery.datatables.css" rel="stylesheet">
  <link ng-if="isLogin()" rel="stylesheet" href="styles/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="bower_components/select2/select2.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="{{isLogin()&&'signin' || ''}}" style="overflow:auto;">

<!-- Preloader -->
<div id="preloader" style="display:none;">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>



<section >
  <div class="signinpanel" ng-if="isLogin();" ng-view="">

  </div>



  <div class="header navbar navbar-fixed-top" ng-hide="isLogin();">
  <div class="header-inner"> <a class="navbar-brand" href="#/home"> <img src="assets/img/ADDEMAR_logo.png" style='width:160px;' alt="logo" class="img-responsive"/> </a> <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">.</a>
    <!--<ul class="nav navbar-nav pull-right">
      <li class="dropdown user"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <span class="username"> USER X</span> <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu">
          <li> <a href="extra_profile.html"> <i class="fa fa-user"></i> My Profile </a> </li>
          <li> <a href="page_calendar.html"> <i class="fa fa-key"></i> logout </a> </li>
        </ul>
      </li>
    </ul>-->

    <ul class="nav navbar-nav pull-right">
      <li class="dropdown user">
        <a href="" class="dropdown-toggle"><span class="username" ng-click='showTutorial = !showTutorial'><i class="fa fa-info-circle"></i> How does it work?</span></a>
      </li>

      <li class="dropdown user">
        <a href="#" class="dropdown-toggle"><span class="username"><i class="fa fa-arrow-circle-o-right"></i> Logout</span></a>
      </li>
    </ul>

    <div id='tutorial' ng-show='showTutorial'>
      <ul>
        <li>1. Upload content</li>
        <li>2. Create a content profile</li>
        <li>3. Drag &amp; drop content in a content profile</li>
        <li>4. Create users</li>
        <li>5. Drag &amp; drop users in a content profile</li>
      </ul>
    </div>
    
  </div>
</div>
<div class="clearfix" ng-hide="isLogin();"></div>
<div class="page-container" ng-hide="isLogin();">
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li ng-class="{ active: isActive('/profiles')}"><a href="#/profiles"><i class="fa fa-tags"></i> <span>Content &amp; Profiles</span></a></li>
        <li ng-class="{ active: isActive('/users')}"><a href="#/users"><i class="fa fa-group"></i> <span>Users</span></a></li>
        <li ng-class="{ active: isActive('/messages')}"><a href="#/messages"><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>
        <li ng-class="{ active: isActive('/contacts')}"><a href="#/contacts"><i class="fa fa-book"></i> <span>Contacts</span></a></li>
        <li ng-class="{ active: isActive('/metrics')}"><a href="#/metrics"><i class="fa fa-bar-chart-o"></i> <span>Reports</span></a></li>
        <li ng-class="{ active: isActive('/settings')}"><a href="#/settings"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
      </ul>
      <div id='smallTalk'>
        <a href='#/settings/privacy-policy'>Privacy Policy</a><br/>
        <a href='#/settings/complaint-procedure'>Complaint Procedure</a><br/>
        <a href='#/settings/beta-agreement'>Beta agreement</a>
      </div>
    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="page-content" ng-hide="isLogin();" ng-view="" style="margin-top:30px;">

    </div>
  </div>
 

 
  
</section>

  <!-- shizzle -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-tagsinput.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

  <script type="text/javascript" src="bower_components/select2/select2.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-select2/src/select2.js"></script>
  <script src="scripts/services/bootstrap-tagsinput-angular.js"></script>
  <!-- end shizzle -->

  <!-- build:js scripts/modules.js -->
 

  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/angular.treeview/angular.treeview.min.js"></script>

  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/angular-charts/dist/angular-charts.min.js"></script>

  <script src="scripts/directives/draganddrop.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/dashboard.js"></script>
  <script src="scripts/controllers/acl.js"></script>
  <script src="scripts/controllers/upload.js"></script>
  <script src="scripts/services/http-auth-interceptor.js"></script>
  <script src="scripts/services/user.js"></script>
  <script src="scripts/services/files.js"></script>
  <script src="scripts/directives/ng-thumb.js"></script>
  <script src="scripts/controllers/organisation.js"></script>
  <script src="scripts/controllers/organisations.js"></script>
  <script src="scripts/controllers/users.js"></script>
  <script src="scripts/controllers/editfile.js"></script>
  <script src="scripts/controllers/editfolder.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/controllers/profiles.js"></script>
  <script src="scripts/controllers/usersAdd.js"></script>
  <script src="scripts/controllers/metrics.js"></script>
  <script src="scripts/controllers/metricsUserActivities.js"></script>
  <script src="scripts/controllers/metricsFileUsage.js"></script>
  <script src="scripts/controllers/metricsFileSharing.js"></script>
  <script src="scripts/controllers/metricsContactGathering.js"></script>
  <script src="scripts/controllers/messages.js"></script>
  <script src="scripts/controllers/register.js"></script>
  <script src="scripts/controllers/contacts.js"></script>
  <!-- endbuild -->

  <!-- charts -->
  <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
  <script src="bower_components/highcharts/highcharts-ng.min.js"></script>
  <!-- endcharts -->


</body>
</html>