<div class="pageheader">
  <h2><i class="fa fa-book"></i> Contacts <span>Collected contact information</span></h2>
  <div class="breadcrumb-wrapper"></div>
</div>
      
<div class='column'>

	<table border='0' width='480' height='50'>
	    <tr height='50'>
	      <td>
	        <h2>All Contacts</h2>
	      </td>
	      <td colspan="2" align='right'>
	        <a ng-click='exportSCV();' style='cursor: pointer; margin-left:90px;' class="itemopt uploadFilesBtn">Export .csv</a>
	      </td>
	    </tr>
	  </table>

	<div id='libraryContainer'>

			<div class='contactItem' ng-repeat='contact in contacts'>
				<p class='name'>{{contact.firstname}} {{contact.lastname}}</p>
				<p class='company'>{{contact.company}}</p>
				<a class='email' href='mailto:{{contact.email}}'>{{contact.email}}</a>
				<p class='stats'>Added by <span class='detail'>{{contact.username}}</span> on <span class='detail'>{{contact.added}}</span></p>
			</div>

	</div>

</div>