 <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>

          <h4 class="panel-title">Edit 
           Folder settings</h4>
          
        </div>
        <div class="panel-body panel-body-nopadding">
          
          <form class="form-horizontal form-bordered">
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Tags</label>
              <div class="col-sm-7">
                <select class="form-control" ui-select2 ng-model="file.metadata.tags" multiple >
                    <option value=""></option>
                    
                </select>
              </div>
            </div>




           
          </form>
          
        </div><!-- panel-body -->
        
        <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				  <button class="btn btn-primary" ng-click="save();">Submit</button>&nbsp;
				  <button class="btn btn-default" ng-click="goBack();">Cancel</button>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        
      </div><!-- panel -->
      