<div class="pageheader">
	<h2><i class="fa fa-file-o"></i> Home <span>Start</span></h2>
	<div class="breadcrumb-wrapper"></div>
</div>


<div id='homeContainer'>
	
	<div class='homeItem'>
		<a href="#/profiles"><span>Manage Profiles</span></a>
	</div>

	<div class='homeItem'>
		<a href="#/users"><span>Manage Users</span></a>
	</div>

	<div class='homeItem'>
		<a href="#/messages"><span>Send Messages</span></a>
	</div>

	<div class='homeItem'>
		<a href="#/metrics"><span>See Reports</span></a>
	</div>

</div>