<style type="text/css">
    #logoLogin{
        position: relative;
        width: 400px;
        height: 120px;
        margin: auto;
        margin-bottom: 40px;
        background-image: url('images/photos/logoLogin.png');
        background-size: 400px 120px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
        #logoLogin{
            background-image: url('images/photos/logoLogin_2x.png');
        }
    }
}
</style>

<div id='logoLogin'></div>

            <div style='width:310px;margin:auto;'>
                
                <form >
                    <h4 class="nomargin">Sign In</h4>
                    <p class="mt5 mb20">Login to access your account.</p>
                
                    <input type="text" class="form-control uname" placeholder="Username" ng-model="username" />
                    <input type="password" class="form-control pword" placeholder="Password" ng-model="password" />
                    <!--<a href=""><small>Forgot Your Password?</small></a>-->
                    <button class="btn btn-success btn-block" ng-click="login(username,password);" style='background-color:rgb(53, 126, 189); border:none;'>Sign In</button>
                    
                </form>
            </div><!-- col-sm-5 -->
