<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Messages</h2>
  <div class="breadcrumb-wrapper"></div>
</div>
        
<div class='column'>
  <h2>New Message</h2>
  <h5>Send a message to users</h5>

  <div ng-hide="messageSend">
    <form>
      <textarea style='width:400px; height: 100px;' ng-model="msg" placeholder="Message">Message</textarea><br/>

  	<input ng-click='sendtoAllProfiles = true' type="radio" name="profiles" id='allProfiles' class='messageRadio' checked>
  	<label for='allProfiles' class='messageLabel'>Send to all profiles</label>

  	<div style='clear:both;'></div>

  	<input ng-click='sendtoAllProfiles = false' type="radio" name="profiles" id='selectedProfiles' class='messageRadio'>
  	<label for='selectedProfiles' class='messageLabel'>Send to specific profile</label>

      <select ng-model="organisation" ng-options="o.name for o in organisations" class='messageSelect' ng-disabled='sendtoAllProfiles=="1"'></select><br/>
      <div style='clear:both;'></div>

      <br/>
      <a href="#/messages" style='width:110px;' class='uploadFilesBtn' ng-click="sendMsg();"><i class="fa fa-envelope"></i> Send</a><br/><br/>

      <p ng-show='errorMessage' style='color: #942818;'>{{errorMessage}}</p>
      <div ng-hide='errorMessage'>
      	<p ng-hide='sendtoAllProfiles'>Will send to {{getCount(organisation,users)}} users</p>
  		<p ng-show='sendtoAllProfiles'>Will send to {{users.length}} users</p>
      </div>
    </form>
  </div>

  <div ng-show="messageSending">
    <p style='color: #98CC27; font-size: 24px;'><img ng-show="!hasIcon" src="images/photos/loader.gif" style="width:16px;"/> Sending</p>
  </div>


  <div ng-show="messageSend && !messageSending">
    <p style='color: #98CC27; font-size: 24px;'>Your message was send.</p><br/>
    <p ng-click='messageSend=false;' style='cursor: pointer; text-decoration:underline;'>Send a new message</p>
  </div>


</div>


<div class='column'>
	<h2>Messages</h2>
	<h5>Previous sent messages</h5>

  <div id='libraryContainer'>
    <!-- <div ng-repeat='message in messages' class='historyMessage'> -->
    <div ng-repeat="message in messages track by $index" class='historyMessage'>
      <p class='date'>{{message.date}}</p>
      <p class='message'>{{message.message}}</p>
      <div style='clear:both;'></div>
    </div>

  </div>

</div>