<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Reports</h2>
</div>
     
<div id='tabsPlacholder'>
  <p class='metricsTab' ng-click="hideAllTabs(); userLoggins=true;" ng-class="{'active':userLoggins}">User Activities</p>
  <p class='metricsTab' ng-click="hideAllTabs(); profileUsage=true;" ng-class="{'active':profileUsage}">File Usage</p>
  <p class='metricsTab' ng-click="hideAllTabs(); contentSharing=true;" ng-class="{'active':contentSharing}">File Sharing</p>
  <p class='metricsTab' ng-click="hideAllTabs(); contactGathering=true;" ng-class="{'active':contactGathering}">Contact Gathering</p>
</div>

<div style='clear:both;'></div>

<div class='metricsTabContent' ng-show='userLoggins'>
    <h2>User Activities</h2>
    <h5>When do your users use your profiles?</h5>

    <div ng-repeat="profile in profiles" class='metricsObject'>
      <div class='settings'>
        <p class='profileTitle'>{{profile.name}}</p>
        <p class='info'>Select users to display</p>
        <div ng-repeat="user in profile.users" class='checkboxItem'>
          <label><input ng-click='toggleUser(user, $parent.$index, $index);' type='checkbox' ng-model='userLoginCheckBoxModel[$parent.$index][$index]'><span class='item'>{{getName(user);}}</span></label>
          <div class='colorLegend' style='background-color:{{colorModel[$parent.$index][$index]}};'></div>
          <div style='clear:both;'></div>
        </div>
      </div>
      <div class='chart'><highchart config='getChartConfig($index);'></highchart></div>
      <div style='clear:both;'></div>
      <hr class='divider'/>
    </div>
</div>


<div class='metricsTabContent' ng-show='profileUsage'>
    <h2>File Usage</h2>
    <h5>Detailed file use per profile</h5><br/>

    
</div>





<div class='metricsTabContent' ng-show='contentSharing'>
    <h2>File Sharing</h2>
    <h5>Detailed file sharing per profile</h5>

    <div ng-repeat="organisation in organisations" class='metricsObject'>
      <p class='profileTitle'>{{organisation.name}}</p>
      <div ac-chart="chartType" ac-data="getDataModel($index);" ac-config="chartConfig" class='pieChart'></div>
    </div>
</div>

<div class='metricsTabContent' ng-show='contactGathering'>
    <h2>Contact Gathering</h2>
    <h5>Collected contact information trough profiles</h5>

</div>

<div style='clear:both;'></div>

<!--
OLD PROFILE USAGE
<table border='1' width='700'>
  <tbody ng-repeat="org in organisations">
    <tr>
      <td class='profileTitle'>{{org.name}}</td>
      <td></td>
    </tr>
    <tr ng-repeat="file in org.files">
      <td>{{file.filename}}</td>
      <td>{{stats[file._id].length}}</td>
    </tr>  
  </tbody>
</table>
-->

<!--
OLD CONTENT SHARING
<table border='1' width='700'>
  <tbody ng-repeat="org in organisations">
    <tr>
      <td class='profileTitle'>{{org.name}}</td>
      <td></td>
    </tr>
    <tr ng-repeat="part in org.files">
      <td>{{part.filename}}</td>
      <td>shared to {{getCountMail(part._id,statsMail)}} contacts</td>
    </tr>
  </tbody>
</table>
-->