<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Reports</h2>
</div>
     
<div id='tabsPlacholder'>
  <a class='metricsTab active' href='#/metrics'>User Activities</a>
  <a class='metricsTab' href='#/metrics/file-usage'>File Usage</a>
  <a class='metricsTab' href='#/metrics/file-sharing'>File Sharing</a>
  <a class='metricsTab' href='#/metrics/contact-gathering'>Contact Gathering</a>
</div>

<div style='clear:both;'></div>

<div class='metricsTabContent'>
    <h2>User Activities</h2>
    <h5>When do your users use your profiles?</h5><br/>

    <div ng-repeat="profile in profiles" class='metricsObject'>
      <div class='settings'>
        <p class='profileTitle'>{{profile.name}}</p>
        <p class='info'>Select users to compare</p>
        <div ng-repeat="user in profile.users" class='checkboxItem'>
          <label><input ng-click='toggleUser(user, $parent.$index, $index);' type='checkbox' ng-model='checkBoxModel[$parent.$index][$index]'><span class='item'>{{getName(user);}}</span></label>
          <div class='colorLegend' style='background-color:{{colorModel[$parent.$index][$index]}};'></div>
          <div style='clear:both;'></div>
        </div>
      </div>
      <div class='chart'><highchart config='getChartConfig($index);'></highchart></div>
      <div style='clear:both;'></div>
      <hr class='divider'/>
    </div>
</div>