<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Reports</h2>
</div>
     
<div id='tabsPlacholder'>
  <a class='metricsTab' href='#/metrics'>User Activities</a>
  <a class='metricsTab' href='#/metrics/file-usage'>File Usage</a>
  <a class='metricsTab' href='#/metrics/file-sharing'>File Sharing</a>
  <a class='metricsTab active' href='#/metrics/contact-gathering'>Contact Gathering</a>
</div>

<div style='clear:both;'></div>

<div class='metricsTabContent'>
    <h2>Contact Gathering</h2>
    <h5>Who collected contacts?</h5><br/>

    <div class='metricsObject' style='height:550px;'>
      <div class='settings' style='height:500px;'>
        <p class='profileTitle'>Users</p>
        <p class='info'>Select users to compare</p>
        <div ng-repeat="user in users" class='checkboxItem'>
          <label><input ng-click='toggleUser($index, user);' type='checkbox' ng-model='checkBoxModel[$index]'><span class='item'>{{user.firstname}} {{user.lastname}}</span></label>
          <div class='colorLegend' style='background-color:{{colorModel[$index]}};'></div>
          <div style='clear:both;'></div>
        </div>
      </div>
      <div class='chart' style='height:550px;'><highchart config='chartConfig'></highchart></div>
      <div style='clear:both;'></div>
    </div>
</div>