 <div class="pageheader">
 	<h2 ng-if='organisation.name'><i class="fa fa-file-o"></i> Edit Profile</h2>
 	<h2 ng-if='!organisation.name'><i class="fa fa-file-o"></i> Add Profile</h2>
</div>

<label style='font-size:16px;'>Name</label><span class='inlineLabelError' ng-show='uniqueProfileNameError'>This profile name already exists</span><br/>
<input type="text" ng-model="organisation.name" style='width:280px; height: 40px; padding:10px;' ng-change='uniqueProfileNameError=false;'/>
<div class="form-group">

<br/><label style='font-size:16px;'>Tablet users</label><br/>

<select class="form-control" ui-select2 ng-model="organisation.users" multiple style="width:650px;">
    <option value=""></option>
    <option ng-repeat="user in retrievedUsers" value="{{user._id}}">{{user.firstname}} {{user.lastname}}</option>
</select>

<div style='margin-top:30px;'>
  <button class="btn btn-primary" ng-click="save();">Submit</button>&nbsp;
  <button class="btn btn-default" ng-click="goBack();">Cancel</button>
</div>