 <div class="pageheader">
      <h2><i class="fa fa-file-o"></i> Content &amp; Profiles</h2>
</div>

<!-- files -->
<div class='column library'>
  <h2>Content</h2>
  <h5>Upload and manage files</h5>

  <!-- library settings -->
  <table border='0' width='480' height='90'>
    <tr height='50'>
      <td colspan="2">
       <select style='width: 200px;'>
        <option>Library</option>
        <option disabled>Trash</option>
      </select>
    </td>
      <td colspan="2" align='right'>
        <a href="" class="itemopt uploadFilesBtn" ng-click="click_upload();"><i class="fa fa-plus"></i> Add files</a>
        <input  style="display:none;" id="file_upload" ng-file-select type="file" multiple />
      </td>
    </tr>
    
    <tr height='40' style='background-color: rgb(238, 238, 238);'>

      <td width='130' align='center'>
        <a ng-show="selectedLibraryFiles.length > 0 && selectedOrganisation"
          href=""
          class="itemopt menuBarItem"
          ng-click="addFilesToProfile();"><i class="fa fa-arrow-circle-o-right"></i> Move to profile</a>
        <a ng-hide="selectedLibraryFiles.length > 0 && selectedOrganisation"
          href=""
          class="itemopt menuBarItem disabledItem"><i class="fa fa-arrow-circle-o-right"></i> Move to profile</a>
      </td>

      <td width='100' align='center'>
        <a href=""
          ng-show="selectedLibraryFiles.length == 1 && selectedProfileFiles.length>=1 && selectedImg"
          class="itemopt menuBarItem"
          ng-click="setFileAsIcon(selectedLibraryFiles[0]);"><i class="fa fa-arrow-circle-o-right"></i> Set as icon</a>
      <a href=""
          ng-hide="selectedLibraryFiles.length == 1 && selectedProfileFiles.length>=1 && selectedImg"
          class="itemopt menuBarItem disabledItem"><i class="fa fa-arrow-circle-o-right"></i> Set as icon</a>
      </td>

      <td width='140' align='center'>
        <a href=""
          ng-show="selectedLibraryFiles.length == 1 && selectedImg && selectedOrganisation"
          class="itemopt menuBarItem"
          ng-click="setFileAsBackground(selectedLibraryFiles[0]);"><i class="fa fa-arrow-circle-o-right"></i> Set as background</a>
        <a href=""
          ng-hide="selectedLibraryFiles.length == 1 && selectedImg && selectedOrganisation"
          class="itemopt menuBarItem disabledItem"><i class="fa fa-arrow-circle-o-right"></i> Set as background</a>
      </td>

      <td width='70' align='center'>
        <a ng-show="selectedLibraryFiles.length > 0" href=""  ng-click="deleteSelectedLibraryFiles();" class="itemopt menuBarItem" ><i class="fa fa-trash-o"></i> Delete</a>
        <a ng-hide="selectedLibraryFiles.length > 0" href="" class="itemopt menuBarItem disabledItem" ><i class="fa fa-trash-o"></i> Delete</a>
      </td>

    </tr>
  </table>

  <p class='libraryStatus'><i class="fa fa-info-circle"></i> {{libraryStatus}}</p>

  <!-- library files -->
  <div id='libraryContainer'>
    <div ng-repeat="libraryFile in libraryFiles" ui-draggable="true" drag="libraryFile" 
              on-drop-success="dropSuccessHandler($event,$index,users)"  style="cursor:pointer;">

      <!-- file -->
      <div class="fileThumbLibrary" ng-if="!file.dir_name">
        <input type="checkbox"
          style="margin-top:18px;margin-left:4px;"
          name="{{libraryFile.filename}}"
          value="{{libraryFile}}"
          ng-click="updateSelectedLibraryFiles($event, libraryFile)">

        <!--<img ng-if="!libraryFile.metadata.thumb" src="images/photos/fileIconFILE.png" class="img-responsive" alt="" />-->
        <!--<img ng-if="libraryFile.metadata.thumb" ng-src="/file/{{libraryFile.metadata.thumb}}" class="img-responsive" alt="" style="width:100%;"/>-->

        <div
          ng-if="libraryFile.defaultIcon"
          class='fileThumbLibraryImage'
          style='background-image: url(images/photos/{{libraryFile.defaultIcon}});'>
        </div>

        <div
          ng-if="libraryFile.metadata.thumb"
          class='fileThumbLibraryImage'
          style='background-image: url(/file/{{libraryFile.metadata.thumb}});'>
        </div>

        <h5 style='float:left; margin-left:8px;' class='libraryFileTitle'>{{libraryFile.filename | limitTo:50}}</h5>


        <!--<h5 class="fileTitle"><a href="#/editfile/{{file._id}}">{{libraryFile.filename | limitTo:50}}</a></h5>-->
        <!-- <h5 class='libraryFileTitle'>{{libraryFile.filename | limitTo:50}}</h5> -->
        <div style='clear:both;'></div>
      </div>
      <div style='clear:both;'></div>
    </div>
  </div>

</div>

<!-- profiles -->
<div class='column' ui-on-Drop="onDrop($event,$data,selectedDir)">
  <h2>Profiles</h2>
  <h5>Combine files to share with tablet users</h5>

<table border='0' width='480' height='90'>
    <tr height='50'>
      <td colspan="3">
       <select style='width: 200px;'
              ng-model="organisation"
              ng-options="o.name for o in organisations"
              ng-change='goOrganisation(organisation);'>
          <option value="" disabled>Select a profile</option>
       </select>
       <a style='margin-left:5px;' ng-if="selectedOrganisation" class='menuBarItem' href="#/organisation/{{selectedOrganisation._id}}"> <i class="fa fa-pencil"></i> Edit</a>
       <a style='margin-left:5px; color:red; cursor:pointer;' ng-if="selectedOrganisation" class='menuBarItem'  ng-click="deleteSelectedOrganisation();"> <i class="fa fa-minus-circle" ></i> Delete</a>
    </td>
      <td align='right'>
        <a href="#/organisation" style='width:110px;' class='uploadFilesBtn' ><i class="fa fa-plus"></i> New Profile</a><br/>
      </td>
    </tr>
    
    <tr height='40' style='background-color: rgb(238, 238, 238);'>

      <td width='130' align='center'>
        <a ng-if="selectedOrganisation" class='menuBarItem' href="#/organisation/{{selectedOrganisation._id}}"><i class="fa fa-pencil"></i> Edit Profile</a>
        <a ng-if="!selectedOrganisation" class='menuBarItem disabledItem'><i class="fa fa-pencil"></i> Edit Profile</a>
      </td>

      <td width='130' align='center'>
        <a ng-show="selectedOrganisation" href="" class="itemopt menuBarItem" ng-click="addDir=true; addUrlToggle=false;"><i class="fa fa-folder-o"></i> Add Folder</a>
        <a ng-if="!selectedOrganisation" href="" class="itemopt menuBarItem disabledItem" ng-click="addDir=true; addUrlToggle=false;"><i class="fa fa-folder-o"></i> Add Folder</a>
      </td>

      <td width='130' align='center'>
        <a ng-show="selectedOrganisation" href="" class="itemopt menuBarItem" ng-click="addUrlToggle=true; addDir=false;"><i class="fa fa-link"></i> Add URL</a>
        <a ng-if="!selectedOrganisation" href="" class="itemopt menuBarItem disabledItem" ng-click="addUrlToggle=true; addDir=false;"><i class="fa fa-link"></i> Add URL</a>
      </td>

      <td width='130' align='center'>
        <a ng-if="selectedOrganisation && selectedProfileFiles.length>=1" href="" ng-click="deleteSelectedProfileFiles();" class="itemopt menuBarItem"><i class="fa fa-trash-o"></i> Delete</a>
        <a ng-if="!selectedOrganisation || selectedProfileFiles.length==0" href="" ng-click="deleteSelectedProfileFiles();" class="itemopt menuBarItem disabledItem"><i class="fa fa-trash-o"></i> Delete</a>
      </td>

    </tr>
  </table>

  <p class='libraryStatus'><i class="fa fa-info-circle"></i> {{profileStatus}}</p>

  <div ng-show="selectedOrganisation">
    <h4>
    <a style='cursor:pointer;' ng-click="selectedDir=undefined;" >{{selectedOrganisation.name}}</a>
    /<a style='cursor:pointer;' ng-click="selectedDir=selectedDir">{{selectedDir}}</a>
    </h4>

    <table border='0' height='30' style='margin-bottom:10px;'>
      <tr>
        <td width='35'>Icon:</td>
        <td width='40'>
          <img ng-show="hasIcon" ng-src="/file/{{getImages(selectedDir,files).icon}}" style="width:30px;"/>
          <img ng-show="!hasIcon" src="images/photos/folderIcon.png" style="width:30px;"/>
        </td>
      </tr>
    </table>
  </div>

  <!-- file browser -->
  <div id='profileBrowserBackground' style='background-image: url(/file/{{selectedOrganisation.background}});'></div>
  <div id='profileBrowserBackground' style='background-image: url(/file/{{getImages(selectedDir,files).background}});'></div>
  <div id='profielsBrowserContainer'>

    <div id='profileBrowserFiles'>

      <!-- FILE LOOPER -->
      <div ng-repeat="file in getFolder(selectedDir,selectedOrganisation)">
        
        <!-- file -->
        <div class="fileThumb" ng-if="!file.dir_name">
          
          <input type="checkbox" class='profileCheckBox'
            name="{{file.filename}}"
            value="{{file}}"
            ng-click="updateSelectedProfileFiles($event, file)">

          <div
            ng-show="file.metadata.thumb"
            class='fileThumbProfileImage'
            style='background-image: url(/file/{{file.metadata.thumb}});'></div>

          <div
            ng-show="!file.metadata.thumb"
            class='fileThumbProfileImage'
            style='background-image: url(images/photos/{{file.defaultIcon}});'>{{file.ext}}</div>

          <h5 class="fileTitle">{{file.filename | limitTo:20}}</h5>

        </div>

        <!-- folder -->
        <div class="fileThumb" ng-if="file.dir_name" style="cursor:pointer;">
          <input type="checkbox" class='profileCheckBox'
            name="{{file.filename}}"
            value="{{file}}"
            ng-click="updateSelectedProfileFiles($event, file)">

          <img ng-if="!file.metadata.thumb" ng-src="{{file.icon ? '/file/' + file.icon : 'images/photos/folderIcon.png'}}" class="img-responsive" ng-click="goFolder(file);" />
          <h5 class="fileTitle">{{file.dir_name | limitTo:20}}</h5>
          <!--<h5 class="fileTitle">{{file.order}} - {{file.dir_name | limitTo:25}}</h5>-->
          <!-- <a href="#/editfolder/{{selectedOrganisation._id}}/{{file._id}}"></a> -->
        </div>
      </div>

      <!-- add shizzle -->
      <div id='addIconContainer'>
        <div class='addDirectoryIcon' ng-show="addDir">
          <i ng-click="addDir=false;" class="fa fa-times-circle" style='position:absolute;float:left;cursor:pointer;'></i>
          <img src="images/photos/addFolder.png" class="img-responsive" />
          <input type="text" ng-model="dirName" style='width:110px;' />
          <button class="addShizzleBtn" ng-click="createDir(); addDir=false;" >Add</button>
        </div>
        
        <div class='addDirectoryIcon' ng-show="addUrlToggle">
          <i ng-click="addUrlToggle=false;" class="fa fa-times-circle" style='position:absolute;float:left;cursor:pointer;'></i>
          <img src="images/photos/addUrl.png" class="img-responsive" />
          <input type="text" ng-model="urlName" style='width:110px;' />
          <button class="addShizzleBtn" ng-click="addUrl(); addUrlToggle=false;" >Add</button>
        </div>
      </div>

      <div style="clear:both;"></div>
    </div><div style="clear:both;"></div>

  </div>

</div>
<div style="clear:both;"></div>
