<h2>New Company</h2>
<div style='width:310px;'>
    <form>
        <input type="text" class="form-control uname" placeholder="Username" ng-model="username" /><br/>
        <input type="password" class="form-control pword" placeholder="Password" ng-model="password" /><br/>
        <button class="btn btn-success btn-block" ng-click="register(username,password);" style='background-color:rgb(53, 126, 189); border:none;'>Register</button>
    </form>
</div>

<h2>Registered Companies</h2>
<div ng-repeat="user in users">
    &bull; {{user.username}}
</div>