<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Settings <span></span></h2>
  <div class="breadcrumb-wrapper"></div>
</div>

<div class='column' ng-show='privacy'>
    <h2>PRIVACY POLICY</h2>
<p>
    This is version 1 of our Privacy Policy dated April 30, 2014
</p>
<p>
    Bizzerbox is very conscious of online privacy concerns for our registered users. If you have any questions concerning this privacy policy, please email us
    at legal@bizzerbox.com
</p>
<p>
    <strong>1. Data Collection and Use</strong>
</p>
<p>
    Bizzerbox will collect registered users information such as but not limited to name, email address, and age in order to authenticate a member and to
    communicate with that member about our services.
</p>
<p>
    Bizzerbox may also choose to log non-personal identifiable data including your IP address, user data, and browser type, from all registered users and
    visitors to the site and app. This data collection is used to assist us in managing the website, track the usage and improve our services. This
    non-personal identifiable information may be shared with third-parties to provide more relevant services and advertisements to registered users. IP
    addresses may be recorded for security and monitoring purposes only.
</p>
<p>
    Email addresses are used on the site for the purposes of enabling Bizzerbox to send communications to registered users relating to our services. We may
    also use a member’s email address to send updates, newsletters or general news regarding the website services in case you have opted in this service.
</p>
<p>
    From time to time, Bizzerbox or a partner organisation may sponsor a promotion or contest on Bizzerbox. Registered users may be asked to provide personal
    information including but not limited to your name, email address or home address or to answer questions in order to participate. This personal information
    may be passed on to certain advertising partners that you have explicitly requested to receive information from. We will ensure that it is clear at the
    point of collection who is collecting the personal information and whose privacy statement will apply.
</p>
<p>
    <strong>2. Cookies </strong>
</p>
<p>
    Bizzerbox uses cookies to store visitors' preferences and to record session information, for purposes including ensuring that visitors are not repeatedly
    offered the same advertisements and to customise newsletters, advertising, and Web page content based on browser type and registered users My Profile
    information. The information that is stored in cookies is not linked to any personally identifiable information which registered users enter on the site.
    You can change your cookie preferences within your browser settings to configure your browser to accept or reject all or some cookies, or notify you when a
    cookie is set, however, disabling cookies with Bizzerbox may limit the services available to you. Please be aware that Bizzerbox allows 3rd party
    advertisers that are placing advertisements on some page of our site to set and access their cookies on your computer. Each Advertiser is subject to their
    own privacy policy and use of cookies and it is not the party to the Bizzerbox Privacy Policy.
</p>
<p>
    <strong>3. Links </strong>
</p>
<p>
    Bizzerbox is not responsible or liable for the privacy policies and/or practices on other linked sites. When linking to another site a member or visitor
    should read the privacy policy associated with that site. This privacy policy is only associated with information collected on Bizzerbox.
</p>
<p>
    <strong>4. Forums , blogs , Search results , App , profile results &amp; Message Boards </strong>
</p>
<p>
    Please note that whenever you voluntarily post information to my profile, all public forums &amp; message boards that this information can be accessed by
    the public and can in turn be used by those people to send you unsolicited communications.
</p>
<p>
    <strong>5. Correcting/Updating or Removing Information </strong>
</p>
<p>
    Bizzerbox Registered users may modify or remove any of their personal information at any time by logging into their account and accessing features such as
    Edit Profile and Account Info.
</p>
<p>
    <strong>6. Email Opt-out </strong>
</p>
<p>
    Registered users who no longer wish to receive updates or communication from us may choose to do so by selecting 'Do not send me service notice emails' in
    their profile. Registered users who do not wish to receive Bizzerbox news may choose to do so by selecting 'Do not send me newsletter emails' in the same
    area. All service notice emails and Bizzerbox newsletters also include the above instructions for opting-out of those communications in the future.
</p>
<p>
    <strong>7. Security</strong>
</p>
<p>
    Bizzerbox member accounts are secured by member-created passwords. Bizzerbox takes every endeavour to ensure that registered users account information is
    kept private. We take reasonable measures to protect member information that is stored within our databases, and there is restricted access to member
    information to only those employees who need access, such as our customer service and technical staff. Please note that we cannot guarantee the security of
    member account information. Unauthorised entry or use, hardware or software failure, and other factors could compromise the security of member information
    at any time. If you would like any additional information about the security measures we use, please contact us at legal@bizzerbox.com
</p>
<p>
    <strong>8. Changes in Our Privacy Policy </strong>
</p>
<p>
    We may make changes to our privacy policy on occasion, in the event of this we will post the changes on the site to ensure that our users are always aware
    of the information we collect, how we use it, and when we may disclose it. Acceptance of any minor changes will be taken if a user uses the site after
    those changes have been posted. In the event that we are going to use Registered users personally identifiable information in such a way that is materially
    different from that stated at the time of collection we will post a notice on the Web site for 30 days.
</p>
</div>

<div class='column' ng-show='complaint'>
  <h2>COMPLAINT PROCEDURE</h2>
<p>
    This is version 1 of our Complaint Procedure dated April 30, 2014
</p>
<p>
    We are working on these procedures. Please check regularly for an update. In the mean time, you can contact us as follows:
</p>
<p>
    <strong>Via email</strong>
</p>
<p>
    - Claims regarding Infringement of Intellectual Property: please send an email to legal@bizzerbox.com
</p>
<p>
    - Claims regarding Privacy: please send an email to legal@bizzerbox.com
</p>
<p>
    - Other claims then regarding Intellectual Property or Privacy: please send an email to legal@bizzerbox.com
</p>
<p>
    We will address complaints and send receipt confirmation within three days.
</p>
<p>
    <strong>Via physical mail</strong>
</p>
<p>
    You can file a complaint by registered notice to:
</p>
<p>
    Bizzerbox
</p>
<p>
    Corda Campus
</p>
<p>
    Kempische Steenweg 293/6
</p>
<p>
    3500 Hasselt
</p>
<p>
    Belgium
</p>
<p>
    We will address complaints and send receipt confirmation within one month.
</p>

</div>


<div class='column' ng-show='beta'>
  <h2>BETA AGREEMENT</h2>

  <p>
	<p>
	    <strong>GENERAL TERMS AND CONDITIONS</strong>
	</p>
	<ol>
	    <li>
	        OurCompany has developed a software called Bizzerbox and will include modifications, enhancements, improvements, updates, additions, derivative works,
	        documentation and related material ("Software").
	    </li>
	    <li>
	        OurCompany desires that the Software be tested prior to general release.
	    </li>
	    <li>
	        Licensee wishes to serve as a Beta tester for such Software;
	    </li>
	</ol>
	<p>
	    NOW, THEREFORE, in consideration of the mutual covenants and premises herein contained, the parties hereto agree as follows:
	</p>
	<ol>
	    <li>
	        OurCompany grants to Licensee a non-exclusive, non-transferable license to use the Software solely for Beta testing and limited to 3 months.
	    </li>
	    <li>
	        In consideration for receiving a copy of the Software for Beta testing, Licensee agrees to serve as a "Beta Tester" for the Software and will notify
	        OurCompany of all problems and ideas for enhancements which come to Licensee's attention during the period of this Agreement, and hereby assigns to
	        OurCompany all right, title and interest to such enhancements and all property rights therein including without limitation all patent, copyright, trade
	        secret, mask work, trademark, moral right or other intellectual property rights.
	    </li>
	    <li>
	        Licensee agrees that Software is the sole property of and includes valuable trade secrets of OurCompany. Licensee agrees to treat Software as
	        confidential and will not without the express written authorization of OurCompany:
	    </li>
	    <ol>
	        <li>
	            Demonstrate, copy, sell or market Software to any third party; or
	        </li>
	        <li>
	            Publish or otherwise disclose information relating to performance or quality of the Software to any third party; or
	        </li>
	        <li>
	            Modify, reuse, disassemble, decompile, reverse engineer or otherwise translate Software or any portion thereof.
	        </li>
	    </ol>
	    <li>
	        Software is prerelease code and may not be at the level of performance or compatibility of a final, generally available product offering. Software may
	        not operate correctly and may be substantially modified prior to first commercial shipment, or withdrawn. Software is provided "AS IS" without warranty
	        of any kind. The entire risk arising out of the use or performance of Software remains with Licensee. In no event shall OurCompany be liable for any
	        damage whatsoever arising out of the use of or inability to use Software, even if OurCompany has been advised of the possibility of such damages.
	    </li>
	    <li>
	        The Licensee agrees to provide material, statistics, or information that is not deemed confidential to Licensee’s business for use in press releases,
	        customer testimonials, and as a reference in marketing and sales initiatives by OurCompany. Licensee will provide a quote to OurCompany that may be
	        used in a press release.
	    </li>
	    <li>
	        This Agreement constitutes the entire and only agreement between the parties for Software and all other prior negotiations, representations,
	        agreements, and understandings are superseded hereby. No agreements altering or supplementing the terms hereof may be made except by means of a written
	        document signed by the duly authorized representatives of the parties.
	    </li>
	    <li>
	        Licensee shall comply with all applicable international, federal, state and local laws, regulations, and ordinances in connection with its activities
	        pursuant to this Agreement.
	    </li>
	    <li>
	        Failure of OurCompany to enforce a right under this Agreement shall not act as a waiver of that right or the ability to later assert that right
	        relative to the particular situation involved.
	    </li>
	    <li>
	        If any provision of this Agreement shall be found by a court to be void, invalid or unenforceable, the same shall be reformed to comply with applicable
	        law or stricken if not so conformable, so as not to affect the validity or enforceability of this Agreement.
	    </li>
	</ol>

</div>