 <div class="pageheader">
      <h2><i class="fa fa-file-o"></i> Media Manager <span>Manage your media</span></h2>
      <div class="breadcrumb-wrapper">
       
      </div>
    </div>
        
    <div class="contentpanel">
      
      <ul class="filemanager-options">
        <li>
          <div class="ckbox ckbox-default">
            <input type="checkbox" id="selectall" value="1" />
            <label for="selectall">Select All</label>
          </div>
        </li>
        
        <!--<li>
          <a href="" class="itemopt disabled"><i class="fa fa-download"></i> Download</a>
        </li>
        
        <li>
          <a href="" class="itemopt disabled"><i class="fa fa-trash-o"></i> Delete</a>
        </li>-->

        <li>
          <a href="" class="itemopt" ng-click="addDir = true;"><i class="fa fa-folder-o"></i> Add directory </a>
        </li>
        <li class="filter-type">
          Show:
          <a href="all" class="active">All</a>
          <a href="document">Documents</a>
          <a href="audio">Audio</a>
          <a href="image">Images</a>
          <a href="video">Videos</a>
        </li>
        
      </ul>
        
      
      <div class="row">
        <div class="col-sm-9">
          <h1>{{selectedOrganisation.name}}/{{selectedDir}}
            <span ng-show="addDir">
                <input type="text" ng-model="dir" />
                <button class="btn btn-primary" ng-click="createDir(dir);addDir=false;" >Add</button>
            </span>
          </h1>
          <div class="row filemanager">
            
            <div ng-repeat="file in getFiles(files_dom,organisations)" class="col-xs-6 col-sm-4 col-md-3 document" >


              <!-- BLOCK -->
              <div class="thmb" ng-if="!file.dir_name">

                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check1" value="1" />
                  <label for="check1"></label>
                </div>

                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->

                <div class="thmb-prev" style="height:160px;overflow:hidden;">
                  <img ng-if="!file.metadata.thumb" src="images/photos/media-doc.png" class="img-responsive" alt="" />
                  <img ng-if="file.metadata.thumb" src="/file/{{file.metadata.thumb}}" class="img-responsive" alt="" 
                  style="width:100%;"/>
                </div>

                <h5 class="fm-title"><a href="#/editfile/{{file._id}}">{{file.filename | limitTo:20}}</a></h5>
                <!--<small class="text-muted">Added: Jan 03, 2014</small>-->

              </div><!-- thmb -->
              <!-- BLOCK -->


              <!-- BLOCK -->
              <div class="thmb" ng-if="file.dir_name" style="cursor:pointer;" ng-click="goFolder(file);">

                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check1" value="1" />
                  <label for="check1"></label>
                </div>

                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->

                <div class="thmb-prev" style="height:160px;overflow:hidden;">
                    <i style="font-size:80px;line-height:160px;"class="fa fa-folder-o"></i>
                </div>

                <h5 class="fm-title"><a href="#/editfolder/{{selectedOrganisation._id}}/{{file._id}}">
                  {{file.dir_name | limitTo:20}}</a></h5>

                <!--<small class="text-muted">Added: Jan 03, 2014</small>-->
              </div>
              <!-- BLOCK -->


            </div><!-- col-xs-6 -->
            
           
            
           
            
          </div><!-- row -->
        </div><!-- col-sm-9 -->
        <div class="col-sm-3">
          <div class="fm-sidebar">
            
            <button class="btn btn-primary btn-block " ng-disabled="!selectedOrganisation" ng-click="click_upload();">Upload Files</button>
            <input  style="display:none;" id="file_upload" ng-file-select type="file" multiple />
            <div class="mb30"></div>
            <input type="text" ng-model="url"/>
            <button class="btn btn-primary btn-block " ng-disabled="!selectedOrganisation" ng-click="addUrl(url);">Add url</button>

            <div class="mb30"></div>
            
            <h5 class="subtitle">Organisations <a href="#/organisation" class="pull-right" >+ Add New Organisation</a></h5>
            <ul class="folder-list">
              
              <li ng-repeat="organisation in organisations"><a href="" style="float:left;" ng-click="goOrganisation(organisation);"><i class="fa fa-folder-o"></i> {{organisation.name}}</a> <a href="#/organisation/{{organisation._id}}" style="float:left; margin-left:20px;" ><i class="fa fa-pencil"></i></a>
              <div style="clear:both;"></div></li>
             
             
            </ul>
            
            <div class="mb30"></div>
            
           
            
          </div>
        </div><!-- col-sm-3 -->
        
      </div>
    </div>
    
  </div>

  <div class="modal fade  in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="false" >
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>