<div class="pageheader">
  <h2><i class="fa fa-file-o"></i> Users <span>Manage your users</span></h2>
  <div class="breadcrumb-wrapper"></div>
</div>
        
<div class='column'>

  <table border='0' width='480' height='50'>
    <tr height='50'>
      <td>
        <h2>Users</h2>
        <h5>Add and manage users</h5>
      </td>
      <td colspan="2" align='right'>
        <a href="#/users/add" style='margin-left:90px;' class="itemopt uploadFilesBtn"><i class="fa fa-plus"></i> Add User</a>
      </td>
    </tr>
  </table>


  <table border='0' width='480' height='40'>
    <tr height='40' style='background-color: rgb(238, 238, 238);'>

      <td width='110' align='left'>
        
      </td>

    </tr>
  </table>

  <table class="table mb30">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ui-draggable="true" drag="user" 
            on-drop-success="dropSuccessHandler($event,$index,users)" ng-repeat="user in users"  style="cursor:pointer;" >
        <td>{{$index + 1}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td class="table-action">
          <a href="#/users/add/{{user._id}}"><i class="fa fa-pencil"></i></a>
          <a href="" class="delete-row" ng-click="deleteUser(user._id);"><i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
    
    </tbody>
  </table>

</div>

<div class='column'>
  
  <table border='0' width='480' height='50'>
    <tr height='50'>
      <td>
        <h2>Profiles</h2>
        <h5>Link users to profiles</h5>
      </td>
      <td colspan="2" align='right'>
        <a href="#/organisation" style='margin-left:90px;' class="itemopt uploadFilesBtn"><i class="fa fa-plus"></i> Add Profile</a>
      </td>
    </tr>
  </table>

 <table border='0' width='480' height='40'>
    <tr height='40' style='background-color: rgb(238, 238, 238);'>
      <td width='110' align='left'>
      </td>
    </tr>
  </table>


  <table class="table mb30">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="organisation in organisations" ui-on-Drop="onDrop($event,$data,organisation)">
        <td>{{$index + 1}}</td>
        <td>{{organisation.name}}  ({{organisation.users.length}})</td>
        <td>
          <table>
            <tr ng-repeat="user in organisation.users" class='subUser'>
              <td>{{$index}}</td>
              <td><span>{{getName(user,users)}}</span></td>
              <td class="table-action">
                <a href="" class="delete-row" ng-click="deleteUserFromOrganisation(organisation,user);"><i class="fa fa-times"></i></a>
              </td>
            </tr>
          </table>
        </td>

      </tr>

      

    </tbody>
  </table>

</div>