 <div class="pageheader">
      <h2><i class="fa fa-file-o"></i> Users <span>Manage your users</span></h2>
      <div class="breadcrumb-wrapper">
       
      </div>
    </div>
        
    <div class="contentpanel">

 <div class="row">
        
        <div class="col-md-8">
        
          <div class="table-responsive">
          <table class="table mb30">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td>{{$index + 1}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.username}}</td>
                <td class="table-action">
                  <a href="" ng-click="setSelectedUser(user);"><i class="fa fa-pencil"></i></a>
                  <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            
            </tbody>
          </table>
          </div><!-- table-responsive -->
        </div><!-- col-md-6 -->
        <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">
         
          <h4 class="panel-title">Create User</h4>
          <p>Someone who will be able to log in using the mobile application.</p>
        </div>
        <div class="panel-body panel-body-nopadding">
          <form class="form-horizontal form-bordered">
            <div class="form-group">
              <label class="col-sm-3 control-label">First name</label>
              <div class="col-sm-6">
                <input type="text" placeholder="John" class="form-control" ng-model="selectedUser.firstname"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Last name</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Doe" class="form-control" ng-model="selectedUser.lastname"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Username</label>
              <div class="col-sm-6">
                <input type="text" placeholder="johndoe" class="form-control" ng-model="selectedUser.username"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Password</label>
              <div class="col-sm-6">
                <input type="password" placeholder="password" class="form-control" ng-model="selectedUser.password" />
              </div>
            </div>
           
          </form>
        </div>
         <div class="panel-footer">
         <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" ng-click="save();">Add</button>&nbsp;
            <button class="btn btn-default" ng-click="setSelectedUser({});">Cancel</button>
          </div>
         </div>
      </div><!-- 
        </div>
        
        
      </div><!-- row -->
</div>