<div class="pageheader">
	<h2><i class="fa fa-file-o"></i> Add/Edit User</h2>
</div>

<form class="form-horizontal form-bordered">
<label class='benForm-label'>Email</label>
<input type="text" placeholder="John" class="benForm-text" ng-model="selectedUser.email"/>
<div style='clear:both;'></div>

<label class='benForm-label'>First name</label>
<input type="text" placeholder="John" class="benForm-text" ng-model="selectedUser.firstname"/>
<div style='clear:both;'></div>

<label class='benForm-label'>Last name</label>
<input type="text" placeholder="Doe" class="benForm-text" ng-model="selectedUser.lastname"/>
<div style='clear:both;'></div>

<label class='benForm-label'>Username</label>
<input type="text" placeholder="johndoe" class="benForm-text"  ng-disabled="selectedUser._id" ng-model="selectedUser.username"/>
<span class='inlineLabelError' ng-show='error'>This username is already in use.</span>
<div style='clear:both;'></div>

<label class='benForm-label'>Password</label>
<input type="password" placeholder="password" class="benForm-text" ng-model="selectedUser.password" />
<div style='clear:both;'></div>
</form>

<a href="" style='margin-left:90px;' class="itemopt uploadFilesBtn" ng-click="save();"><i class="fa fa-plus"></i> Save</a>

<a href='#/users'> Cancel</a>

<!--
<button class="btn btn-primary" ng-click="save();">Add</button>&nbsp;
<button class="btn btn-default" ng-click="setSelectedUser({});">Cancel</button>
-->